@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Main*/
:root{
    --blanco: #ffffff;
    --negro: #212121;
}

*{
    margin: 0;
    padding: 0;
    color: var(--blanco);
    list-style:none;
    text-decoration: none;
    font-family: 'Oswald', Arial, Helvetica, sans-serif, 'Josefin Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*Body*/

.colorNegroP {
    color: #212121;
    font-family: 'Josefin Sans';
    font-style: italic;
    margin-bottom: 20px;
}
.colorNegro {
    color: #212121;
}
.Eddy {
    color: #212121;

}

body {
    width: 100%;
    min-height: 100vh;
}
.intro{
    width:100%;
    height: 100vh;
    background: url('../img/water7.jpg') center center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    position: absolute;
    top: 0;
    left: 0;
}
nav>ul {
    padding: 40px 35px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 5rem;
    filter: drop-shadow(1px 1px 4px rgb(132, 218, 251));
    
}

@media (max-width: 650px) {
    nav>ul {
        padding: 40px 35px;
        font-size: x-large;
        display: flex;
        flex-direction: row;
        align-items: space-between;
        gap: 2em;
        filter: drop-shadow(1px 1px 4px rgb(132, 218, 251));
        
    }
}
@media (max-width: 480px) {
    nav>ul{
        gap:1em;
    }
}


@media screen and (max-width:650px) {

    .ul{
        display: none;
    }
    
}

@media (min-width: 650px) {
    .dotdotdot{
        display: none;
    }
   .logo{
       display: none;
   }

}

h1{
    text-align: center;
    color: var(--blanco);
    font-size: 5rem;
    filter: drop-shadow(1px 1px 4px rgb(132, 218, 251));
}

.about{
    display: flex;
    background-color: #002E40;
    height: 7.5rem;
    
}

.about{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.aboutp{
    width: 50%;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 2rem;

}
@media (max-width:650px) {
     .gallery{
         padding-top: 3rem;
     }
     .arrow2{
         margin-bottom: 1rem;
     }
}

@media (max-width:400px) {
    .gallery{
        padding-top: 4rem;
    }
   
}

/*Videos*/
.video{
        width: 100%;
        min-height: 100vh;
        background-color:#002E40 ;
}

/*Main*/
.main{
    width: 100%;
    min-height: 500vh;
    background: #002E40;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    gap: 4rem;
    text-align: center;
    background-color: #002E40;
}
@media (max-width:410px ) {
     .mainNav{
         gap:2rem
     }
}
.maindiv{
    width: 90%;
    height: 450%;
    position: absolute;
    border-radius: 5px;   
}

.border{
    border: solid 3px var(--blanco);
}

h3{
text-align: center;
font-size: 6rem;
}

.drill{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 30%;
}

.imgcenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blanco);
    text-decoration: none;
    gap: 5px;
}
.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pic13{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 25%;
    border: solid 1px var(--blanco);
    margin-left: 3rem;
    margin-right: 3rem;
}
.img13{
    height: 11rem;
    width: 70%;
    border: solid 1px var(--blanco);
    background-attachment: fixed;
}

.pic13 p {
    margin-top: 0.5rem;
}

.more{
    font-family: "Oswald";
    font-size: medium;
    font-style: italic;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 2rem;
    margin-top: 2rem;
}

@media (max-width:800px) {
     .gallery .del{
         display: none;
     }
     .pic13{
         width: 50%;
     }
}
h4{
    margin-top: 10rem;
    text-align: center;
    font-size:xx-large;
    margin-bottom: 3rem;
    text-transform:uppercase ;
}

.historia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}
@media (max-width: 680px ) {
     .historia{
         display: flex;
         flex-direction: column;
     }
     .historiaimg{
         padding-top: 3rem;
     }
}

/*--Staff*--*/
.modulos {
    background-color: #002E40;
}

@media (min-width: 768px) {
    .modulos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        background-color: #002E40;
    }
}

.modulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:2rem ;

}

.modulo h3 {
    color: var(--vinotinto);
    font-weight: bold;
}

.modulo p {
    line-height: 2;
    text-align: center;
}

.modulo .icono {
    height: 15rem;
    width: 15rem;
    background-color: var(--negro);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/**Footer**/
.footer {
    background-color:#002E40;
    padding-top: 3rem;
}

.footer__texto {
    font-family: var(--blanco);
    text-align: center;
    font-size: 1.2rem;
}



/*
.pic2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    width: 20%;
    border: solid 1px var(--blanco);
    margin-left: 3rem;
}

.img2{
    height: 26rem;
    width: 70%;
    border: solid 1px var(--blanco);
}
*/